{% extends "demos/base.html"%}
{% load static %}
{% block content%}
    {% for post in posts %}
<!--        <article class="media content-section">-->
<!--            <div class="media-body">-->
<!--                <div class="article-metadata">-->
<!--                    <a class="mr-2" href="#">{{ post.author }}</a>-->
<!--                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>-->
<!--                </div>-->
<!--                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>-->
<!--                <p class="article-content">{{ post.content }}</p>-->
<!--            </div>-->
<!--        </article>-->

        <div class="card" style="width:50%; margin-left:25%">
            <h1>{{post.id}}</h1>
            {% if  post.id is 2 %}

                <img src="{% static post.image_path %}" alt="My image" style="width:100%" >
            {% else %}
                <img src="{% static post.image_path %}" alt="My image" style="width:50%; margin-left:25%" >
            {% endif %}
<!--          <img src="../demos/results_sigatoka.gif" alt="Avatar" >-->
          <div class="container">
            <h4><b>{{ post.title }}</b></h4>
            <p>{{ post.content }}</p>
          </div>
        </div>
        <hr>
    {% endfor %}
{% endblock content%}
